'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Lines'
      'submenu': [
        { 'label': 'Sort', 'command': 'sort-lines:sort' }
        { 'label': 'Reverse Sort', 'command': 'sort-lines:reverse-sort' }
      ]
    ]
  }
]
